.page__header {
    background-color: #f7f7f7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header__links {
    list-style-type: none;
}

.links__link {
    float: right;
}

.header {
    position: relative;
}

.header__logo {
    display: block;
    position: absolute;
    left: 210px;
    top: -10px;
}

#login {
    padding-top: 20px;
    border: none;
    background: #f7f7f7;   
    cursor: pointer; 
}